.App {
  text-align: left;
}

a {
  color: #2e979e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  background: #a6dce0;
  padding: 10px 20px;
  margin-right: 15px;
  color: #000;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background: #2e979e;
}

.App-logo {
  margin: 10px;
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  display: inline-block
}

#logo {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
  color: #000;
  vertical-align: top;
  margin-top: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav {
  background: rgb(46, 151, 158);
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #c27464;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

nav button {
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

nav, footer {
  padding: 20px 30px;
  color: #fff;
}

nav a, footer a {
  color: #fff;
}

footer {
  background: #000;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}

.App-header {
  padding: 0 30px;
}

#main-div {
  padding: 50px 50px 80px;
  min-height: 270px;
}

.puzzle-list-item {
  padding: 10px;
  max-width: 200px;
  background: #a6dce0;
  margin: 5px;
  color: #000;
}

/* FORM STUFF */
input {
  width: 250px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  height: 35px;
  background: #eee;
  padding: 0 20px;
  margin-top: 10px;
}

input[type="submit"] {
  background: #2e979e;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
}

input[type="submit"]:hover {
  background: #a6dce0;
  color: #000;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
}